<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Modify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.css" rel="stylesheet">

    <link href="css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">
	
	
  </head>
  <body>
    <div 
			style="background-color:#1ABC9C;
					color:white;margin-top:2%;
					width:940px;
					height:700px;
					margin-left:auto;
					margin-right:auto;
					border-top-left-radius:10px;
					border-top-right-radius:10px;
					border-bottom-left-radius:10px;
					border-bottom-right-radius:10px;">
		<div style="height:100%;width:20%;position:absolute;">			
			<img style="position:absolute;left:15%;top:30%" src="images/illustrations/clipboard.png"/>
		</div>
		<div style="height:100%;width:70%;position:absolute;left:40%;top:5%;">
			<h4 for="username" class="demo-panel-title">Username</h4>
			<input type="text" id="username" disabled="disabled" value={{current_user.username}} placeholder="Enter Your Name"></input>
			<h4 for="password" class="demo-panel-title">Old Password</h4>
			<input type="password" id="password_old" value="" placeholder="Old Password"></input>
			<h4 for="password" class="demo-panel-title">New Password</h4>
			<input type="password" id="password_new" value="" placeholder="New Password"></input>
			<h4 for="password" class="demo-panel-title">Confirm Password</h4>
			<input type="password" id="password_confirm" value="" placeholder="Confirm Password"></input>
			<h4 for="Email" class="demo-panel-title">Email</h4>
			<input type="text" id="email" value="" placeholder={{current_user.email}}></input>
			<div>
			<button id="button_submit" class="btn btn-large btn-danger" style="width:210px;margin-top:40px">Modify</button>
			
			{% csrf_token %}
			</div>
		</div>
		
    </div> <!-- /container -->

    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="js/jquery.dropkick-1.0.0.js"></script>
    <script src="js/custom_checkbox_and_radio.js"></script>
    <script src="js/custom_radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="js/application.js"></script>
	<script type="text/javascript" src="js/jquery-CSRF.js"></script> 
	<script>
		$(document).ready(function(){
			$("#button_submit").click(function(){
				var txt="";
				if ($("#password").val()!=$("#password_confirm").val()){
					alert("Password not confirmed!");
					return;
				}
				txt="username="+$("#username").val()+"&"+"password="+$("#password").val()+"&"+"email="+$("#email").val();
				alert(txt);
				$.post("/registerChecker",txt,function(data,status){
					var words=data.split(' ');
					if (words.length>0){
						if (words[0]=="success"){
							alert("Success");
							if (words.length>1)
								location.href=words[1];
							else
								alert("error:no url information!");
						}
						else if (words[0]=="fail"){
							alert("Failed");
							if (words.length>1)
								alert(words[1]);
							else
								alert("error:no error information!");
						}
						else{
							alert("error:unknown information!");
						}
						/*alert(words[0]);
						if (words.length>1)
							location.href=words[1];
						else
							alert("error can't return back!");*/
					}
					else{
						alert("error!");
					}
				});
			});
		});
	</script>
  </body>
</html>
